@model TodoMVC.Web.Models.ToDoListViewModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form id="insert" method="post">
        <div class="container">
            <h1>To Do List</h1>
            <input type="text" name="input" id="input">
            <button id="add" class="btn btn-default">ADD</button>
            <div class="toDoList"></div>
        </div>
    </form>
    <hr>

    <button id="completed" class="btn btn-default">Completed</button>
    <button id="active" class="btn btn-default">Active</button>
    <button id="all" class="btn btn-default">All</button>
    <button id="clean" class="btn btn-danger">Delete All Complete</button>

    <hr>
    <form id="todolist" method="POST">
        <table id="message_table" cellpadding="20">
            <tr>
                <td> <font color="blue">Status</font></td>
                <td><font color="blue">Subject</font></td>
                <td><font color="blue">Action</font></td>
            </tr>
        </table>
    </form>
</body>
</html>


<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="~/Scripts/Todo/Index.js"></script>
